* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;  /* Usando flexbox para layout */
  flex-direction: column; /* Direção da coluna */
  
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh; 
  overflow-x: hidden; /* permite rolagem vertical, mas impede horizontal */
  overflow-y: auto; /* permite rolagem vertical */
  color: rgb(0, 0, 0);
  /*background: #eeeeee; */
  background: #f2fbff;  /* Cor de fundo suave para melhor contraste */
  padding-top: 70px;
}

/* Menu  */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  z-index: 1000;
  background: rgb(255, 255, 255);
  padding: 15px 100px;
}

.menu a {
  position: relative;
  color: #000000; /* Cor da fonte preta para melhor contraste */
  font-weight: 610; /* Deixa a fonte mais grossa para melhor visibilidade */
  
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 3px 30px; /* Aumenta o espaçamento interno para melhor visualização */
  transition: color 0.3s ease;
}

.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.menu a:hover {
  color: #000000;
  
}

.menu a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


main {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

main {
    gap: 20px; /* Espaço entre os elementos */
}



/* Estilo da Tabela */
.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tabela thead {
    background-color: #528aa1;
    color: white;
}

.tabela th {
    padding: 15px 12px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.tabela td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.tabela tbody tr:hover {
    background-color: #cacaca; /* Cor de destaque ao passar o mouse */
    transition: background-color 0.3s ease;
}